html {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.layout {
  display: grid;
  grid-template-columns: 275px auto 350px;
  margin: 0 auto;
  max-width: 1200px;
}

/* sidebar */
.site-logo {
  display: inline-flex;
  border-radius: 50%;
}

.site-logo:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.site-logo img {
  height: 30px;
  padding: 10px;
  color: #0f1419;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar-menu__item {
  color: rgb(15, 20, 25);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  transition-duration: 0.2s;
  padding: 12px;
  border-radius: 25px;
}

.sidebar-menu__item--active {
  font-weight: 700;
}

.sidebar-menu__item:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.sidebar-menu__item-icon {
  height: 26px;
  margin-right: 20px;
}

/* tweet */

.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 12px 16px;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tweet a {
  color: rgb(29, 155, 240);
  text-decoration: none;
}

.tweet a:hover {
  text-decoration: underline;
}

.tweet__author-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.tweet__main {
  flex-grow: 1;
  line-height: 20px;
}

.tweet__header {
  display: flex;
  margin-bottom: 2px;
}

.tweet__author-name {
  font-weight: 700;
  color: rgb(15, 20, 25);
}

.tweet__author-slug {
  margin-left: 4px;
}

.tweet__dot {
  padding-left: 4px;
  padding-right: 4px;
  line-height: 0.8;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.tweet__content {
  color: rgb(15, 20, 25);
}

.tweet-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 12px;
}

.tweet-actions__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.tweet-actions__icon {
  height: 34.75px;
  width: 34.75px;
  margin-right: -6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-actions__icon svg {
  fill: rgb(82, 101, 113);
  height: 18.75px;
  width: 18.75px;
}

/* general action button styling */

.tweet-actions__item:hover .tweet-actions__icon {
  background-color: rgba(29, 155, 240, .1); 
}

.tweet-actions__item:hover .tweet-actions__label {
  color: rgb(29, 155, 240); 
}

.tweet-actions__item:hover .tweet-actions__icon svg {
  fill: rgb(29, 155, 240); 
}

/* specific to like button */
.tweet-actions__item.tweet-actions__item--like:hover .tweet-actions__icon {
  background-color: rgba(249, 24, 128, .1); 
}

.tweet-actions__item.tweet-actions__item--like:hover .tweet-actions__label {
  color: rgb(249, 24, 128); 
}

.tweet-actions__item.tweet-actions__item--like .tweet-actions__icon svg {
  stroke: rgb(82, 101, 113);
  stroke-width: 2px;
  fill: none;
}

.tweet-actions__item.tweet-actions__item--liked .tweet-actions__icon svg {
  stroke: rgb(249, 24, 128); 
  fill: rgb(249, 24, 128); 
}

.tweet-actions__item.tweet-actions__item--liked .tweet-actions__label {
  color: rgb(249, 24, 128); 
}


.tweet-actions__item.tweet-actions__item--like:hover .tweet-actions__icon svg {
  stroke: rgb(249, 24, 128); 
}
